<div class="content">

<% @pokemons.each do |pokemon| %>

<<<<<<< HEAD
<p>Name:<%= pokemon.name %></p>
=======
<p>Name:<%= pokemon.name %></p> 
>>>>>>> 699c5057a1bc9cefaec9ea78db29061993c35552

<hr>

<% end %>

<br>
<br>
<a href="/">Back</a>

</div>